#todo{
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  text-align: center;
  margin-top: 15px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;
}

input{
  margin: auto;
  border-radius: 15px;
  border: 1px solid rgb(226, 226, 226);
}

.row{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contli{
  display: flex;
}

.col-1{
  color:rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;
}

.col-1:hover{
  color: rgb(114, 113, 113);
}
.col-11:hover +.col-1 {
  color: rgb(114, 113, 113); 
}








